.pagination-wrapper {
  margin-top: 4rem;
}

@media screen and (min-width: 990px) {
  .pagination-wrapper {
    margin-top: 5rem;
  }
}

.pagination__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.pagination__list > li {
  /* flex: 1 0 4.4rem;
  max-width: 4.4rem; */
}

.pagination__list > li:not(:last-child) {
  /* margin-right: 1rem; */
}
a.pagination__item.pagination__item--current.light {
    background: #7d7d7d;
    color: #fff;
    opacity: 1;
}
.custom_next_pagination{
  line-height: 100%;
}
.pagination__item {
  color: rgb(var(--color-foreground));
  display: inline-flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  padding: 0;
  text-decoration: none;
  border: 1px solid #7D7D7D;
  color: #7D7D7D;
  font-weight: 500;
  padding: 7px 19px;
  height: unset;
  width: unset;
  border-radius: 12px;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0;
}

a.pagination__item:hover::after {
  height: 0.1rem;
}

.pagination__item .icon-caret {
  height: 0.6rem;
}

.pagination__item--current::after {
  height: 0.1rem;
}

.pagination__item--current::after,
.pagination__item:hover::after {
  /* content: '';
  display: block;
  width: 2rem;
  position: absolute;
  bottom: 8px;
  left: 50%;
  transform: translateX(-50%);
  background-color: currentColor; */
}

.pagination__item--next .icon {
  margin-left: -0.2rem;
  transform: rotate(90deg);
}

.pagination__item--next:hover .icon {
  transform: rotate(90deg) scale(1.07);
}

.pagination__item--prev .icon {
  margin-right: -0.2rem;
  transform: rotate(-90deg);
}

.pagination__item--prev:hover .icon {
  transform: rotate(-90deg) scale(1.07);
}

.pagination__item-arrow:hover::after {
  display: none;
}
/* @media screen and (max-width: 989px) {
.custom_next_pagination , .custom_prev_pagination , .custom_pagination_title {
    padding-top: 2px;
}
} */
 /* ===== STRICT CENTER FIX (NO UI CHANGE) ===== */

/* Make the link itself the centering container */
.pagination__item-arrow {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

/* Neutralize browser text baseline issues */
.custom_prev_pagination,
.custom_next_pagination {
  display: inline-block;
  line-height: 1;
  transform: translateY(1px);
}

/* iOS Safari fine-tune (very tiny) */
@supports (-webkit-touch-callout: none) {
  .custom_prev_pagination,
  .custom_next_pagination,
  .custom_page_title_pagination{
    transform: translateY(1.10px);
  }
}
