

.article {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
span.circle-divider {
    position: absolute;
    bottom: 0;
    background: #fff;
    right: 0;
    padding: 5px 16px;
    font-size: 14px;
    color: #646464;
    font-weight: 300;
}
.article.grid__item {
  padding: 0;
}

.grid--peek .article-card {
  box-sizing: border-box;
}

.article-card__image-wrapper > a {
  display: block;
}

.article-card__title {
  text-decoration: none;
  word-break: break-word;
}

.article-card__title a:after {
  bottom: 0;
  content: '';
  height: 100%;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 1;
}

.article-card__link.link {
  padding: 0;
}

.article-card__link {
  text-underline-offset: 0.3rem;
}

.article-card .card__heading {
  margin-bottom: 0.6rem;
  line-height: 24px;
  font-weight: 700;
}

.blog-articles .article-card .card__information,
.blog__posts .article-card .card__information {
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top:20px;
}

.article-card__info {
  padding-top: 0.4rem;
}

.article-card__footer {
  letter-spacing: 0.1rem;
  font-size: 1.4rem;
}

.article-card__footer:not(:last-child) {
  margin-bottom: 1rem;
}

.article-card__footer:last-child {
  margin-top: auto;
}

.article-card__excerpt {
  width: 100%;
  margin-top: 15px;
  margin-bottom: 0;
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
}

.article-card__link:not(:only-child) {
  margin-right: 3rem;
}

@media screen and (min-width: 990px) {
  .article-card__link:not(:only-child) {
    margin-right: 4rem;
  }
}

.article-card__image--small .ratio::before {
  padding-bottom: 11rem;
}

.article-card__image--medium .ratio::before {
  padding-bottom: 22rem;
}

.article-card__image--large .ratio::before {
  padding-bottom: 33rem;
}
/* Two-line clamp for title */
.article-card .card__heading a {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1.3;         /* adjust to taste */
  max-height: 3em;        /* 2 lines * line-height */
  font-weight: 700;
  line-height: 24px;  
}
.date_time_grid{
  display: flex;
  align-items: center;
  gap: 5px;
}
span.date_time_svg {
    line-height: normal;
}
/* Two-line clamp for excerpt */
.article-card__excerpt {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  max-height: 3em;        /* 2 lines */
}
  .article-content__load-more{
    border: 1px solid #000;
    color: #000;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0;
    min-height: 50px;
  }
    .article-read-more {
    display: inline-flex;
    align-items: center;
    gap: 8px;
    margin: 0;
    text-decoration: none;
    padding: 0;
    font-size: 16px;
    font-weight: 500;
    min-height: unset;
    margin-top: 20px;
    line-height: 22px;
  }
  .article-read-more span{
    line-height:0;
  }
  .blog-articles .card.article-card .card__inner img{
      object-fit: cover;
}
@media screen and (min-width: 750px) {
  .article-card__image--small .ratio::before {
    padding-bottom: 14.3rem;
  }

  .article-card__image--medium .ratio::before {
    padding-bottom: 21.9rem;
  }

  .article-card__image--large .ratio::before {
    padding-bottom: 27.5rem;
  }
}

@media screen and (min-width: 990px) {
  .article-card__image--small .ratio::before {
    padding-bottom: 17.7rem;
  }

  .article-card__image--medium .ratio::before {
    padding-bottom: 30.7rem;
  }

  .article-card__image--large .ratio::before {
    padding-bottom: 40.7rem;
  }
}

/* check for flexbox gap in older Safari versions */
@supports not (inset: 10px) {
  .articles-wrapper.grid {
    margin: 0 0 5rem 0;
  }

  @media screen and (min-width: 750px) {
    .articles-wrapper.grid {
      margin-bottom: 7rem;
    }
  }
}
@media screen and (max-width: 990px) {
  .article-card .card__heading{
    font-size: 14px;
    line-height: 24px;
  }
  .article-card__excerpt{
    font-size: 14px;
    margin-top: 10px;
    line-height: 22px;
  }
  .article-read-more{
    font-size: 14px;
    margin-top: 15px;
    line-height: 22px;
  }
  .blog-articles .article-card .card__information{
        padding-top: 15px;
  }

}
@media screen and (max-width: 749px) {
  .articles-wrapper .article {
    width: 100%;
  }
}
@media screen and (max-width: 550px) {
  .blog-articles .card.article-card .card__inner img{
      object-fit: contain;
  }
}