.accordion summary {
  display: flex;
  position: relative;
  line-height: 1;
  padding: 1.5rem 0;
}

.accordion .summary__title {
  display: flex;
  flex: 1;
  color: #000;
font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: 12px; /* 66.667% */
}

.accordion .summary__title + .icon-caret {
  height: calc(var(--font-heading-scale) * 0.6rem);
      height: 9px !important;
          position: absolute;
    height: .6rem;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

.product__accordion .accordion__content ol {
    padding: 0;
    list-style: none;
    column-count: 2;
}

.product__accordion .accordion__content ol li {
    color: #646464;
    font-family: "Helvetica Neue";
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 24px; /* 150% */
    margin-bottom: 10px;
    position: relative;
    display: inline-flex;
    letter-spacing: 0;
}

.product__accordion .accordion__content ol li:before {
    content: '';
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='17' height='9' viewBox='0 0 17 9' fill='none'%3E%3Cpath d='M0.5 4.5H16.5M16.5 4.5L12.5 0.5M16.5 4.5L12.5 8.5' stroke='black' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
    display: inline-block;
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
    background-position: center;
    min-width: 24px;
    margin-right: 10px;
}

.accordion summary:first-child {
    padding-top: 0;
}

.accordion + .accordion {
  margin-top: 0;
  border-top: none;
}

.accordion {
  margin-top: 2.5rem;
  margin-bottom: 0;
  /* border-top: 0.1rem solid rgba(var(--color-foreground), 0.08);
  border-bottom: 0.1rem solid rgba(var(--color-foreground), 0.08); */
}

.accordion__title {
  display: inline-block;
  max-width: calc(100% - 6rem);
  min-height: 1.6rem;
  margin: 0;
  word-break: break-word;
  font-size: 18px;
  line-height: 12px;
  letter-spacing: 0;
  font-weight: 500;
}

.accordion .svg-wrapper {
  align-self: center;
  fill: rgb(var(--color-foreground));
  height: calc(var(--font-heading-scale) * 2rem);
  margin-right: calc(var(--font-heading-scale) * 1rem);
  width: calc(var(--font-heading-scale) * 2rem);
}

.accordion details[open] > summary .icon-caret {
  transform: rotate(180deg);
}

.accordion__content {
  margin-bottom: 1.5rem;
  word-break: break-word;
  overflow-x: auto;
  padding: 0 0.6rem;
}

.accordion__content img {
  max-width: 100%;
}
@media screen and (max-width: 1300px) {
  .product__accordion .accordion__content ol li{
    font-size: 14px;
  }
}
@media screen and (max-width: 769px) {

.product__accordion .accordion__content ol li{
  
}
}