h2 {
    font-size: 46px;
    line-height: normal;
}
.comp_heighlight_description p {
    margin: 30px 0;
    letter-spacing: 0;
    font-weight: 300;
    line-height: 24px;
}
.time_line_extra_content {
    font-weight: 300;
}
.comp_heighlight_heading {
    max-width: max-content;
    margin: auto auto 30px;
    border-radius: 20px;
    padding: 18px 28px;
    display: flex;
    align-items: center;
    gap: 20px;
    font-weight: 300;
    font-size: 16px;
    text-transform: uppercase;
}
/* .comp_heighlight_heading img{
    max-width:50px;
    width:100%;
} */
 .card--standard>.card__content .quick-add  .quick-add.no-js-hidden.desktop_custom_add_btn {
    display: block;
}
 .card--standard>.card__content .quick-add.quick-add.no-js-hidden.mobile_add_quick_btn{
    display: none;
 }
 span.add_to_card_sold_ouy_btn {
    line-height: 1;
}
@media screen and (max-width: 1024px) {
    .comp_heighlight_description p {
        font-size: 14px;
        line-height: 1.5;
        margin: 10px 0;
    }
    .comp_heighlight_heading{
        padding: 14px 18px;
        gap: 16px;
    }
    .time_line_extra_content p {
        margin: 0;
        line-height: 1.4;
        font-size: 14px;
    }
}
@media screen and (max-width: 749px) {
.comp_heighlight_heading{
    font-size: 12px;
    gap: 10px;
    padding: 15px 10px;
    margin-bottom: 20px;
}
 .card--standard>.card__content .quick-add.quick-add.no-js-hidden.desktop_custom_add_btn {
    display: none;
}
 .card--standard>.card__content .quick-add.quick-add.no-js-hidden.mobile_add_quick_btn{
    display: block;
 }
 .card--standard>.card__content .quick-add.quick-add.no-js-hidden.mobile_add_quick_btn button{
    min-height: 37px;
    min-width: unset;
    border: 1px solid #191B1D;
    color: #000000;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 14px;
    margin-top: 20px;
    letter-spacing: 0;
    padding: 10px;
 }
 .card--standard>.card__content .quick-add.quick-add.no-js-hidden.mobile_add_quick_btn button:after{
    box-shadow: unset;
 }
}
