h2 {
    font-size: 46px;
    line-height: normal;
}
.comp_heighlight_description p {
    margin: 30px 0;
    letter-spacing: 0;
    font-weight: 300;
    line-height: 24px;
}
.time_line_extra_content {
    font-weight: 300;
}
.comp_heighlight_heading {
    max-width: max-content;
    margin: auto auto 30px;
    border-radius: 20px;
    padding: 18px 28px;
    display: flex;
    align-items: center;
    gap: 20px;
    font-weight: 300;
    font-size: 16px;
    text-transform: uppercase;
}
/* .comp_heighlight_heading img{
    max-width:50px;
    width:100%;
} */
 .product .card--standard>.card__content .quick-add  .quick-add.no-js-hidden.desktop_custom_add_btn {
    display: block;
}
 .product .card--standard>.card__content .quick-add.quick-add.no-js-hidden.mobile_add_quick_btn{
    display: none;
 }
 span.add_to_card_sold_ouy_btn {
    line-height: 1;
}
@media screen and (max-width: 1024px) {
    .comp_heighlight_description p {
        font-size: 14px;
        line-height: 1.5;
        margin: 10px 0;
    }
    .comp_heighlight_heading{
        padding: 14px 18px;
        gap: 16px;
    }
    .time_line_extra_content p {
        margin: 0;
        line-height: 1.4;
        font-size: 14px;
    }
}
.cart__dynamic-checkout-buttons {
    display: none;
}
@media screen and (max-width: 749px) {
.comp_heighlight_heading{
    font-size: 12px;
    gap: 10px;
    padding: 15px 10px;
    margin-bottom: 20px;
}
 .product .card--standard>.card__content .quick-add.quick-add.no-js-hidden.desktop_custom_add_btn {
    display: none;
}
 .product .card--standard>.card__content .quick-add.quick-add.no-js-hidden.mobile_add_quick_btn{
    display: block;
 }
 .product .card--standard>.card__content .quick-add.quick-add.no-js-hidden.mobile_add_quick_btn button{
    min-height: 37px;
    min-width: unset;
    border: 1px solid #191B1D;
    color: #000000;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 14px;
    margin-top: 20px;
    letter-spacing: 0;
    padding: 10px;
 }
 .card--standard>.card__content .quick-add.quick-add.no-js-hidden.mobile_add_quick_btn button:after{
    box-shadow: unset;
 }
 .template-search .facets-vertical-form{
    position: absolute;
    right: 10px;
    margin-top: 10px;
 }
 .template-search  .product-count-vertical.light {
    display: none;
}
}
.main_customer_account .main_customer_account_right{
    background: #f4f4f4;
    padding: 20px;
    border-radius: 20px;
}
.customer__title{
    font-family: HelveticaNeue-BlackExt;
    letter-spacing: 3px;
    font-size: 30px;
}
.main_customer_account .main_customer_account_right h2{
    font-family: HelveticaNeue-BlackExt;
    letter-spacing: 2.2px;
    margin-bottom: 20px;
    font-size: 22px;
}
.main_customer_account .customer thead th{
    background: #fff;
    font-weight: 500;
    color: rgba(var(--color-foreground), 1);
}

.main_customer_account .customer tbody td{
    font-weight: 300;
    font-size: 14px;
}
.main_customer_default_address .customer_default_address p{
    font-weight: 300;
    font-size: 1.5rem;
}
.main_customer_default_address  a{
    font-weight: 500;
    color: rgba(var(--color-foreground), 1);
    text-underline-offset: 5px;
}
.customer thead th{
    background: #fff;
    color: rgba(var(--color-foreground), 1);
    font-weight: 500;
}
.customer tbody td{
    font-size: 14px;
    font-weight: 300;
}
.main_customer_default_address{
        flex-grow: 0.3;
}
.customer .main_customer_account_right td:before{
    color: rgba(var(--color-foreground), 1);    
    font-weight: 500;
}
.custom_wishlist_btn.wishlistBtn{
    position: relative;
}
.wishlist-icon { display: none; }
.default-icon { display: inline-block; }

/* When product is in wishlist */
.wishlistBtn.in-wishlist .default-icon {
  display: none;
}

.wishlistBtn.in-wishlist .added-icon {
  display: inline-block;
}
.custom_wishlist_btn.wishlistBtn {
    position: relative;
    z-index: 9999;
    text-align: right;
    padding-right: 20px;
    padding-top: 45px;
}
.custom_wishlist_btn.wishlistBtn span{
    line-height: 0;
}
@media screen and (max-width: 1100px) {
    .main_customer_account .main_customer_account_right{
        flex-direction: column;
        gap:20px;
    }
}
@media screen and (max-width: 990px) {
    :is(.account,.order)>div:nth-of-type(2){
        margin-top: 1rem;
    }
}
@media screen and (max-width: 800px) {
.customer .main_customer_account_right th, .customer .main_customer_account_right td:first-of-type , .customer .main_customer_account_right td{
    padding-right: 5px;
}
}