header.header.header--two-row {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
}

header.header.header--two-row .header__bottom-row {
    width: 100%;
    border-top: 1px solid #ECECEC;
    border-bottom: 1px solid #ECECEC;
    background: #FFF;
}

header.header.header--two-row .header__bottom-row nav.header__inline-menu {
    margin: 0;
}

header.header.header--two-row .header__bottom-row {
    grid-column: span 3;
}

.header__top-row {
    width: 100%;
    grid-column: span 3;
}

header.header.header--two-row .header__top-row-inner {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    padding-bottom: 12px;
}

header.header.header--two-row .header__icons {
    grid-area: unset;
}

.search-input-wrapper {
    border-radius: 10px;
    outline: 1px solid #A1A1A1;
    background: #FFF;
    position: relative;
        overflow: hidden;
}

.search-input-wrapper input#Search-In-Header {
    width: 100%;
    height: 42px;
    padding: 10px 10px 10px 47px;
    color: #919191;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    border: unset;
}

.search-input-wrapper span.search-icon {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
}

.header__search-section .predictive-search-results {
    position: absolute;
    background-color: #fff;
    top: 100%;
        left: 50%;
    transform: translateX(-50%);
}

.header__icons-new {
    display: flex;
    align-items: center;
    gap: 28px;
    justify-content: end;
}

.header__icons-new a.header__icon-row-layout.header__icon--cart {
    display: flex;
    align-items: center;
    gap: 11px;
    margin: 0;
}

.header__icons-new a {
    text-decoration: none;
}

.header__icons-new  .cart-count-bubble {
    position: unset;
}

.header__icons-new .cart-count-bubble {
    font-family: "Helvetica Neue";
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-left: -6px;
}

account-icon {
    display: flex;
    align-items: center;
    gap: 11px;
}

.header__icons-new a span.svg-wrapper {
    width: 22px;
    height: 22px;
}

.header__icons-new a.header__icon-row-layout span.snv-text {
    color: #191B1D;
    font-family: "Helvetica Neue";
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}


.list-menu__item {
    color: #191B1D;
    text-align: center;
    font-family: "Helvetica Neue";
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding: 16.5px 0;
    position: relative;
}

.header__inline-menu-wrap ul.list-menu.list-menu--inline {
    gap: 26px;
}

header.header.header--two-row .header__bottom-row nav.header__inline-menu .list-menu__item:after {
     content: '';
    display: block;
    width: 0;
    height: 1.5px;
    background: #191b1d;
            position: absolute;
    bottom: 0;
    transition: width .3s;
        left: -1px;
    bottom: -2px;

}

.header__cls-button {
    position: relative;
    display: inline-flex;
}

.header__cls-button:before {
    content: '';
    background: #ECECEC;
    width: .5px;
    height: 100%;
    position: absolute;
    left: -41%;
}

header.header.header--two-row .header__bottom-row nav.header__inline-menu .list-menu__item:hover:after {
    width: 100%;
 }
.header__inline-menu-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    flex-flow: row wrap;
}


a.cls-pr__button {
    border-radius: 10px;
    background: #FFE7AB;
    color: #191B1D;
    text-align: center;
    font-family: "Helvetica Neue";
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-decoration: none;
    padding: 6.5px 19px;
    display: inline-flex;
    align-items: center;
        transition: all .3s ease;
        gap: 4px;
}

a.cls-pr__button svg path {
     transition: all .3s ease;
}

a.cls-pr__button:hover {
    background-color: #191b1d;
    color: #fff;
}

a.cls-pr__button:hover svg  path {
    fill: #fff;
}

header.header.header--two-row .header__bottom-row nav.header__inline-menu ul.list-menu.list-menu--inline li:first-child .list-menu__item {
    padding-left: 0;
}

.header__heading a.header__heading-link {
    padding-left: 0;
}

/* Chrome, Safari, Edge (WebKit) */
.search-input-wrapper input#Search-In-Header::-webkit-search-cancel-button,
.search-input-wrapper input#Search-In-Header::-webkit-search-decoration,
.search-input-wrapper input#Search-In-Header::-webkit-search-results-button,
.search-input-wrapper input#Search-In-Header::-webkit-search-results-decoration {
  display: none;
}

/* Firefox */
.search-input-wrapper input#Search-In-Header[type="search"] {
  appearance: textfield;
  -moz-appearance: textfield;
}


.search-input-wrapper button.search-btn.close-icon {
    position: absolute;
    right: 7px;
    top: 50%;
    transform: translateY(-50%);
    background: url();
    border: unset;
    cursor: pointer;
}



@media only screen and (max-width: 1300px) {
    .header__cls-button {
        display: none;
    }

    header.header.header--two-row .header__bottom-row nav.header__inline-menu {
    width: 100%;
}

.header__inline-menu-wrap ul.list-menu.list-menu--inline {
    width: 100%;
    justify-content: space-between;
    gap: 16px;
}

header.header.header--two-row .header__top-row-inner {
    grid-template-columns: 1fr 1fr auto;
}
}

@media only screen and (max-width: 1080px) {
    header.header.header--two-row .header__bottom-row {
    display: none;
}

    header.header.header--two-row .header__top-row-inner {
        grid-template-columns: auto auto 1fr;
    }

    header.header.header--two-row .header__top-row-inner .header__search-section {
    display: none;
}

 }


@media only screen and (max-width: 750px) {
    .header__heading a.header__heading-link {
        padding: 0;
    }

    header.header.header--two-row .header__top-row-inner {
        padding-bottom: 0;
    }

    header.header.header--two-row {
        padding: 20px 0;
    }


    .header__heading-logo {
        max-width: 197px;
    }
    .header__heading, .header__heading-link {
        text-align: left;
    }

    
.header__icons-new a.header__icon-row-layout span.snv-text {
    display: none;
}

.header__icons-new .cart-count-bubble {
    position: absolute;
}

.header__heading, .header__heading-link {
    padding: 0;
    display: inline-flex;
}
.header__heading-logo-wrapper {
    display: inline-flex;
}

.header__logo-section {
    display: inline-flex;
}
.header__icons-new a span.svg-wrapper {
    width: 30px;
    height: 30px;
    padding: 4px;
}

header.header.header--two-row .header__top-row-inner {
    gap: 10px;
}
.header__icons-new {
    gap: 5px;
    padding-right: 0;
}

.header__icon--menu, .header__icon--menu svg  {
    width: 24px !important;
    height: 24px !important;
}

.utility-bar__grid .utility-bar__item a svg {
    width: 16px;
    height: 16px;
}
}

