.page-title {
  margin-top: 0;
}

.main-page-title {
  margin-bottom: 3rem;
  font-weight:900;
  text-transform: uppercase;
  font-size: 48px;
}
.main_pages_content .rte{
  line-height: 26px;
  font-weight: 300;
}
@media screen and (min-width: 750px) {
  .main-page-title {
    margin-bottom: 4rem;
  }
}

.page-placeholder-wrapper {
  display: flex;
  justify-content: center;
}

.page-placeholder {
  width: 52.5rem;
  height: 52.5rem;
}
