.custom_contact_us_grid {
    display: flex;
    justify-content: space-between;
}
.conatct_left_side_content {
    max-width: 50%;
    width: 100%;
}
.conatct_right_side_content {
    max-width: 42.5%;
    background: #F4F4F4;
    width: 100%;
    border-radius: 30px;
    padding: 30px;
}
.left_info_grid {
    display: flex;
    gap: 100px;
}
h2.title.title-wrapper--no-top-margin.inline-richtext.h1 {
    text-transform: uppercase;
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 30px;
    line-height: 67px;
}
  .contact-info h4 , 
  .contact-info p strong  {
    margin: 0;
    font-size: 20px;
    text-transform: capitalize;
    font-weight: 500;
}
.contact-info a{
    text-decoration:none;
    color:currentColor;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
}
.contact-info p {
    margin: 0;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
}
.conatct_info_left {
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.custom_contact_us_grid.contact{
    color: rgba(var(--color-foreground), 1);
}
.contact-info .list-social{
    justify-content: flex-start;
}
.contact-info .list-social__item svg , .contact-info .list-social__item svg path {
        fill: currentColor;
        width: 20px;
        height: 20px;
}
.contact-info .list-social__item svg.icon-twitter{
        width: 15px;
}
.contact-info .list-social {
    justify-content: flex-start;
    gap: 15px;
}
span.field_heading {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    margin-bottom: 10px;
    /* text-transform: capitalize; */
}
.custom_contact_us_grid .field:after ,.custom_contact_us_grid .field:hover.field:after{
    box-shadow:unset;
}
.custom_contact_us_grid .field__input:focus {
    box-shadow:unset;
}
.custom_contact_us_grid .field__label{
    color: rgba(var(--color-foreground), 1);
    font-weight: 300;
    font-size: 1.4rem;
}
.contact__button button{
    width: 100%;
    font-weight: 500;
}
@media screen and (max-width: 1024px) {
.left_info_grid {
    display: flex;
    gap: 50px;
}
}
@media screen and (max-width: 989px) {
h2.title.title-wrapper--no-top-margin.inline-richtext.h1 {
    font-size: 30px;
    margin-bottom: 10px;
    line-height: 50px;
}
.left_info_grid{
    gap:20px;
}
.conatct_right_side_content{
    padding:20px;
}
   .contact-info h4, .contact-info p strong{
        font-size: 18px;
    }
    .contact-info p{
        font-size: 14px;
        line-height: 20px;
    }
    .contact-info a{
        padding: 6px;
    }
    .conatct_left_side_content {
        max-width:55%;
    }
}
@media screen and (max-width: 749px) {
    .conatct_left_side_content , .conatct_right_side_content {
        max-width:100%;
        width:100%;
    }
    .custom_contact_us_grid {
        flex-direction: column;
        gap: 30px;
    }
    .contact-info h4, .contact-info p strong{
        font-size: 18px;
    }
    .contact-info p{
        font-size: 14px;
        line-height: 20px;
    }
    .contact-info .list-social__item svg , .contact-info .list-social__item svg path {
        width: 15px;
        height: 15px;
}
.contact-info .list-social__item svg.icon-twitter{
        width: 10px;
}
}
@media screen and (max-width: 450px) {
    .contact-info p{
        font-size: 12px;
    }
    .contact-info h4, .contact-info p strong{
        font-size:16px;
    }
    .conatct_info_left{
        gap:20px;
    }
    .conatct_info_left{
        width: 70%;
    }
    .contact-info .list-social{
        gap:10px;
    }
    .contact-info a{
        padding: 5px;
    }
}